<h1 class="text-xl font-bold mb-4">Videos disponibles</h1>

<ul class="space-y-4">
  <% @videos.each do |video| %>
    <li class="border p-4 rounded bg-white shadow">
      <h2 class="font-semibold"><%= video.title %></h2>
      <p class="text-gray-600 text-sm">Subido por: <%= video.user.email %></p>
      <%= link_to "Ver video", user_video_path(video), class: "text-blue-600 underline" %>
    </li>
  <% end %>
</ul>