<h1 class="text-xl font-bold mb-4"><%= @video.title %></h1>

<video controls class="w-full max-w-3xl">
  <source src="<%= @video.file_url %>" type="video/mp4">
  Your browser does not suppor video reproduction.
</video>

<p class="mt-4 text-gray-700"><%= @video.description %></p>