<h1>¡Hola!</h1>

<p>Te han invitado a ver el siguiente video:</p>

<h2><%= @video.title %></h2>
<p><%= @video.description %></p>

<p>
  Haz clic en el siguiente enlace para verlo:
  <br>
  <a href="<%= @invitation.link %>"><%= @invitation.link %></a>
</p>

<p>Gracias,<br>El equipo de VideoPlus</p>