<h1>Hello!</h1>

<p>You've been invited to watch the following video:</p>

<h2><%= @video.title %></h2>
<p><%= @video.description %></p>

<p>
  Click the following link to watch it:
  <br>
  <a href="<%= @invitation.link %>"><%= @invitation.link %></a>
</p>

<p>Thanks,<br>The Video Vault Team</p>