<% flash.each do |type, message| %>
  <div data-controller="flash"
       data-flash-duration-value="4000"
       class="fixed top-4 right-4 z-50 px-4 py-2 rounded shadow-lg text-white
              <%=
                case type.to_sym
                when :notice then 'bg-green-600'
                when :alert  then 'bg-red-600'
                else 'bg-gray-700'
                end
              %>">
    <%= message %>
  </div>
<% end %>