<% if @video.file_url.present? %>
  <video controls class="w-full max-w-3xl">
    <source src="<%= @video.file_url %>" type="video/mp4">
    Your browser does not suppor video reproduction.
  </video>
<% else %>
  <p class="text-red-500">This video has not been uploaded correctly.</p>
<% end %>